@import url('utility.css');
@import url('header.css');
@import url('footer.css');

#about-wrapper {
  overflow: hidden;
}
#about-wrapper h1, h2, h4 {
  text-transform: uppercase;
}
#about-wrapper h1 {
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
  text-decoration: underline;
}
#about-wrapper h2 {
  color: #fff;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  background-color: rgba(0,0,0,.88);
}
#about-wrapper h4 {
  color: #fff;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  background-color: rgba(0,0,0,.88);
}
#intro {
  float: left;
}
#intro p {
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px dashed #999;
}
#member {
  float: right;
  border-left: 2px solid #999;
}