#footer {
  margin-left: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  color: #fff;
  border-top: 3px solid #aaa;
  width: 1000px;
}

#footer ul {
  float: right;
}

#footer li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #999;
}

#footer li:last-child {
/*  padding-right: 0;*/
  border-right: none;
}

#footer a {
  color: #333;
  font-size: 18px;
  font-family: "YanoneKaffeesatz";
}

#footer a:hover {
  color: #555;
}